//-	ROLL BUTTONS
mixin attributeButton(attribute)
	button(name=attribute type='roll' value='@{gm_toggle} &{template:rolls}{{header=^{'+attribute+'}}}{{base=^{'+attribute+'}}}{{dice=[[(@{'+attribute+'}+@{attribute_roll}+@{wound_toggle}+@{modifier_toggle}+@{edge_toggle})d6>5@{explode_toggle}]]}}{{mod=[[@{modifier_toggle}]]}}{{wound=[[@{wound_toggle}]]}}{{edge=[[@{edge_toggle}]]}}')
		if attribute === "body" || attribute === "agility" || attribute === "reaction" || attribute === "strength"
			h2.alt-color(data-i18n=attribute) #{attribute}
		else
			h2(data-i18n=attribute) #{attribute}

mixin initiativeButton(name, attrName)
	button(name=name type='roll' value='@{gm_toggle} &{template:rolls}{{header=^{'+name+'}}}{{base=^{base}}}{{dice=[[(@{'+attrName+'_modifier}+@{wound_toggle}+@{modifier_toggle})+(@{'+attrName+'_dice})d6cf0 &{tracker}]]}}{{mod=[[@{modifier_toggle}]]}}{{wound=[[@{wound_toggle}]]}}{{edge=[[@{edge_toggle}]]}}')
		h2.alt-color(data-i18n=name) #{name}


mixin derivedButton(name, attrName)
	button(name=name type='roll' value='@{gm_toggle} &{template:rolls}{{header=^{'+name+'}}}{{base=^{attributes}}}{{dice=[[(@{'+attrName+'}+@{wound_toggle}+@{modifier_toggle}+@{edge_toggle})d6>5@{explode_toggle}]]}}{{mod=[[@{modifier_toggle}]]}}{{wound=[[@{wound_toggle}]]}}{{edge=[[@{edge_toggle}]]}}')
		h2(data-i18n=name) #{name}